<!DOCTYPE html>
<html>
  <head>
    <title>StockTradingApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <% unless user_signed_in? %>
      <section class='min-vw-100 min-vh-100 d-flex flex-column  align-items-center justify-content-center container' style='background-color: #100F0F; color: #F1F1F1'>
        <header>
          <%= render 'layouts/alerts' %>
        </header>
        <div class='row border border-5 rounded p-5' style='border-color: #E2DCC8'>
          <div class='col-lg-6'>
            <%= image_tag 'exchange-rate.png'%>
          </div>
          <div class='col-lg-6'>
            <%= yield %>
          </div>
        </div>
      </section>
    <% else %>
      <header>
        <%= render 'layouts/alerts' %>
      </header>
      <%= yield %>
    </body>
  <% end %>
</html>
